<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css"
      integrity="sha512-3icgkoIO5qm2D4bGSUkPqeQ96LS8+ukJC7Eqhl1H5B2OJMEnFqLmNDxXVmtV/eq5M65tTDkUYS/Q0P4gvZv+yA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="icon" href="https://www.artpartner.com/propeller/uploads/2018/08/32x32.png" sizes="32x32">
    <link rel="icon" href="https://www.artpartner.com/propeller/uploads/2018/08/32x32.png" sizes="192x192">
    <link rel="stylesheet" href="css/style.css">
    <title>Art Partner</title>
  </head>
  <body>

    <div id="root">

      <header>
        <a href="https://www.artpartner.com/">
          <img src="https://www.artpartner.com/propeller/themes/propeller/assets/img/logo.svg" alt="logo">
        </a>
        <div class="hamburger-icon">
          <div class="top"></div>
          <div class="middle"></div>
          <div class="bottom"></div>
        </div>
        <div class="menu">
          <ul class="links">
            <li>
              <a href="#">ABOUT</a>
            </li>
            <li>
              <a href="#">CONTACT / 联系我们</a>
            </li>
            <li>
              <a href="#">EXHIBITIONS & EDITIONS</a>
            </li>
            <li>
              <a href="#">LICENSING</a>
            </li>
            <li>
              <a href="#">EARTH PARTNER</a>
            </li>
            <li>
              <a href="#">360 & EXPERIENTIAL</a>
            </li>
            <li>
              <a href="#">HEALTH PROTOCOLS</a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
          <ul class="links">
            <li>
              <a href="#">FILM & PRINT</a>
            </li>
            <li>
              <ul class="staff">
                <li>
                  <a href="#">Mert Alas & Marcus Piggott</a>
                </li>
                <li>
                  <a href="#">Lachlan Bailey</a>
                </li>
                <li>
                  <a href="#">Anthony Cotsifas | Still Life</a>
                </li>
                <li>
                  <a href="#">Colin Dodgson</a>
                </li>
                <li>
                  <a href="#">Zoë Ghertner</a>
                </li>
                <li>
                  <a href="#">Glen Luchford</a>
                </li>
                <li>
                  <a href="#">Alasdair McLellan</a>
                </li>
                <li>
                  <a href="#">Tyler Mitchell</a>
                </li>
                <li>
                  <a href="#">Oliver Hadlee Pearch</a>
                </li>
                <li>
                  <a href="#">Angelo Pennetta</a>
                </li>
                <li>
                  <a href="#">David Sims</a>
                </li>
                <li>
                  <a href="#">Dan Tobin Smith | Still Life</a>
                </li>
                <li>
                  <a href="#">Mario Sorrenti</a>
                </li>
                <li>
                  <a href="#">Jacob Sutton</a>
                </li>
                <li>
                  <a href="#">Drew Vickers</a>
                </li>
                <li>
                  <a href="#">Harley Weir</a>
                </li>
                <li>
                  <a href="#">Theo Wenner</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">FASHION & CREATIVE CONSULTANT</a>
            </li>
            <li>
              <ul class="staff">
                <li>
                  <a href="#">Joe McKenna</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="links">
            <li>
              <a href="#">CREATIVE DIRECTION</a>
            </li>
            <li>
              <ul class="staff">
                <li>
                  <a href="#">Lina Kutsovskaya</a>
                </li>
                <li>
                  <a href="#">Ezra Petronio</a>
                </li>
                <li>
                  <a href="#">Christopher Simmonds</a>
                </li>
                <li>
                  <a href="#">Ferdinando Verderi</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">STYLE</a>
            </li>
            <li>
              <ul class="staff">
                <li>
                  <a href="#">Anastasia Barbieri</a>
                </li>
                <li>
                  <a href="#">Beat Bolliger</a>
                </li>
                <li>
                  <a href="#">Francesca Burns</a>
                </li>
                <li>
                  <a href="#">Marie Chaix</a>
                </li>
                <li>
                  <a href="#">Lucinda Chambers</a>
                </li>
                <li>
                  <a href="#">Jane How</a>
                </li>
                <li>
                  <a href="#">Suzanne Koller</a>
                </li>
                <li>
                  <a href="#">Carlos Nazario</a>
                </li>
                <li>
                  <a href="#">Camilla Nickerson</a>
                </li>
                <li>
                  <a href="#">Robbie Spencer</a>
                </li>
                <li>
                  <a href="#">Elodie David-Touboul</a>
                </li>
                <li>
                  <a href="#">Melanie Ward</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="links">
            <li>
              <a href="#">BEAUTY</a>
            </li>
            <li>
              <ul class="staff">
                <li>
                  <a href="#">Akki | Hair</a>
                </li>
                <li>
                  <a href="#">Shay Ashual | Hair</a>
                </li>
                <li>
                  <a href="#">Cyndia Harvey | Hair</a>
                </li>
                <li>
                  <a href="#">Jawara | Hair</a>
                </li>
                <li>
                  <a href="#">Thomas de Kluyver | Makeup</a>
                </li>
                <li>
                  <a href="#">Didier Malige | Hair</a>
                </li>
                <li>
                  <a href="#">Aaron de Mey | Makeup</a>
                </li>
                <li>
                  <a href="#">Lauren Parsons | Makeup</a>
                </li>
                <li>
                  <a href="#">Lucia Pica | Makeup</a>
                </li>
                <li>
                  <a href="#">Holli Smith | Hair</a>
                </li>
                <li>
                  <a href="#">Yadim | Makeup</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </header>

      <main>

        <div class="column">

          <div class="slider-1">

            <div class="slide"  v-for="slide in slider_1">

              <a href="#">

                <div v-if="slide.img != '' ">
                  <img :src="slide.img" :alt="slide.title">
                </div>

                <div v-if="slide.video != '' ">
                  <video :width="slide.width" :height="slide.height" autoplay loop muted>
                    <source :src="slide.video" type="video/mp4">
                  </video>
                </div>

                <div class="overlay">
                  <div class="info">
                    <h2>{{ slide.author }}</h2>
                    <hr>
                    <h3>{{ slide.brand }}</h3>
                    <h3>{{ slide.title }}</h3>
                  </div>
                </div>

              </a>

            </div>

          </div>

        </div>

        <div class="column">

          <div class="slider-2">

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/06/AP1158198_-615x777.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Lachlan Bailey</h2>
                    <hr>
                    <h3>Vogue Paris</h3>
                    <h3>Joyaux De Nuit</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <video width="960" height="540" autoplay loop muted>
                  <source src="https://www.artpartner.com/propeller/uploads/2021/05/PRE_FV_PRADA_LEATHERGOODS.mp4" type="video/mp4">
                </video>
                <div class="overlay">
                  <div class="info">
                    <h2>Ferdinando Verderi</h2>
                    <hr>
                    <h3>Prada</h3>
                    <h3>Galleria Bag 2021</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/03/002_AP0290997-615x799.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Carlos Nazario</h2>
                    <hr>
                    <h3>i-D Magazine</h3>
                    <h3>Naomi Campbell</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <video width="810" height="540" autoplay loop muted>
                  <source src="https://www.artpartner.com/propeller/uploads/2021/01/PRE_EP_GLEN-LUCHFORD_PRADA.mp4.mp4"
                    type="video/mp4">
                </video>
                <div class="overlay">
                  <div class="info">
                    <h2>Ezra Petronio</h2>
                    <hr>
                    <h3>GLEN LUCHFORD / PRADA 96-98</h3>
                    <h3>BOOK ART DIRECTION & DESIGN</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/04/039_AP0293407-615x762.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Robbie Spencer</h2>
                    <hr>
                    <h3>M Le Monde</h3>
                    <h3>Masculin Pluriel</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/06/AP1158198_-615x777.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Lachlan Bailey</h2>
                    <hr>
                    <h3>Vogue Paris</h3>
                    <h3>Joyaux De Nuit</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <video width="960" height="540" autoplay loop muted>
                  <source src="https://www.artpartner.com/propeller/uploads/2021/05/PRE_FV_PRADA_LEATHERGOODS.mp4" type="video/mp4">
                </video>
                <div class="overlay">
                  <div class="info">
                    <h2>Ferdinando Verderi</h2>
                    <hr>
                    <h3>Prada</h3>
                    <h3>Galleria Bag 2021</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/03/002_AP0290997-615x799.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Carlos Nazario</h2>
                    <hr>
                    <h3>i-D Magazine</h3>
                    <h3>Naomi Campbell</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <video width="810" height="540" autoplay loop muted>
                  <source src="https://www.artpartner.com/propeller/uploads/2021/01/PRE_EP_GLEN-LUCHFORD_PRADA.mp4.mp4"
                    type="video/mp4">
                </video>
                <div class="overlay">
                  <div class="info">
                    <h2>Ezra Petronio</h2>
                    <hr>
                    <h3>GLEN LUCHFORD / PRADA 96-98</h3>
                    <h3>BOOK ART DIRECTION & DESIGN</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/04/039_AP0293407-615x762.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Robbie Spencer</h2>
                    <hr>
                    <h3>M Le Monde</h3>
                    <h3>Masculin Pluriel</h3>
                  </div>
                </div>
              </div>
            </a>

          </div>

        </div>

        <div class="column">

          <div class="slider-3">

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/06/AP1155533_-615x492.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Alasdair McLellan</h2>
                    <hr>
                    <h3>Re-Edition Magazine:</h3>
                    <h3>Linn 9000</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <video width="960" height="540" autoplay loop muted>
                  <source src="https://www.artpartner.com/propeller/uploads/2021/03/PRE_DS_YSL_SS21.mp4" type="video/mp4">
                </video>
                <div class="overlay">
                  <div class="info">
                    <h2>David Sims</h2>
                    <hr>
                    <h3>Saint Laurent</h3>
                    <h3>SS 2021</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/05/AP1154887_-615x923.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Colin Dodgson</h2>
                    <hr>
                    <h3>American Vogue</h3>
                    <h3>All In The Balance</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <video width="364" height="204" autoplay loop muted>
                  <source src="https://www.artpartner.com/propeller/uploads/2018/08/MS_CalvinKlein_PREVIEW.mp4" type="video/mp4">
                </video>
                <div class="overlay">
                  <div class="info">
                    <h2>Mario Sorrenti</h2>
                    <hr>
                    <h3>Calvin Klein</h3>
                    <h3>Obsessed</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/06/AP1155533_-615x492.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Alasdair McLellan</h2>
                    <hr>
                    <h3>Re-Edition Magazine:</h3>
                    <h3>Linn 9000</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <video width="960" height="540" autoplay loop muted>
                  <source src="https://www.artpartner.com/propeller/uploads/2021/03/PRE_DS_YSL_SS21.mp4" type="video/mp4">
                </video>
                <div class="overlay">
                  <div class="info">
                    <h2>David Sims</h2>
                    <hr>
                    <h3>Saint Laurent</h3>
                    <h3>SS 2021</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/05/AP1154887_-615x923.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Colin Dodgson</h2>
                    <hr>
                    <h3>American Vogue</h3>
                    <h3>All In The Balance</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <video width="364" height="204" autoplay loop muted>
                  <source src="https://www.artpartner.com/propeller/uploads/2018/08/MS_CalvinKlein_PREVIEW.mp4" type="video/mp4">
                </video>
                <div class="overlay">
                  <div class="info">
                    <h2>Mario Sorrenti</h2>
                    <hr>
                    <h3>Calvin Klein</h3>
                    <h3>Obsessed</h3>
                  </div>
                </div>
              </div>
            </a>

          </div>

        </div>

        <div class="column">

          <div class="slider-4">

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/06/AP1158233_-615x796.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Lachlan Bailey</h2>
                    <hr>
                    <h3>British Vogue</h3>
                    <h3>Golden Days</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <iframe src="https://player.vimeo.com/video/538604513?background=true" frameborder="0" webkitallowfullscreen=""
                  mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
                <div class="overlay">
                  <div class="info">
                    <h2>Anthony Cotsifas</h2>
                    <hr>
                    <h3>Louis Vuitton</h3>
                    <h3>Tambour Street Diver Watch 2021</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/04/018_AP0294850-615x461.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Mario Sorrenti</h2>
                    <hr>
                    <h3>Self Service 54</h3>
                    <h3>Bold</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <video width="1920" height="1080" autoplay loop muted>
                  <source src="https://www.artpartner.com/propeller/uploads/2018/09/PRE_DTS_LV_LES-PARFUMS_2016.mp4" type="video/mp4">
                </video>
                <div class="overlay">
                  <div class="info">
                    <h2>Dan Tobin Smith</h2>
                    <hr>
                    <h3>Louis Vuitton</h3>
                    <h3>Les Parfums</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/05/AP0295832_-615x802.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Angelo Pennetta</h2>
                    <hr>
                    <h3>British Vogue</h3>
                    <h3>Landmark Moment</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/06/AP1158233_-615x796.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Lachlan Bailey</h2>
                    <hr>
                    <h3>British Vogue</h3>
                    <h3>Golden Days</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <iframe src="https://player.vimeo.com/video/538604513?background=true" frameborder="0" webkitallowfullscreen=""
                  mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
                <div class="overlay">
                  <div class="info">
                    <h2>Anthony Cotsifas</h2>
                    <hr>
                    <h3>Louis Vuitton</h3>
                    <h3>Tambour Street Diver Watch 2021</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/04/018_AP0294850-615x461.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Mario Sorrenti</h2>
                    <hr>
                    <h3>Self Service 54</h3>
                    <h3>Bold</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <video width="1920" height="1080" autoplay loop muted>
                  <source src="https://www.artpartner.com/propeller/uploads/2018/09/PRE_DTS_LV_LES-PARFUMS_2016.mp4"
                    type="video/mp4">
                </video>
                <div class="overlay">
                  <div class="info">
                    <h2>Dan Tobin Smith</h2>
                    <hr>
                    <h3>Louis Vuitton</h3>
                    <h3>Les Parfums</h3>
                  </div>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="slide">
                <img src="https://www.artpartner.com/propeller/uploads/2021/05/AP0295832_-615x802.jpg" alt="img">
                <div class="overlay">
                  <div class="info">
                    <h2>Angelo Pennetta</h2>
                    <hr>
                    <h3>British Vogue</h3>
                    <h3>Landmark Moment</h3>
                  </div>
                </div>
              </div>
            </a>

          </div>

        </div>

      </main>

    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
